<h1>Formulario de Clientes</h1>
<form #clienteForm="ngForm">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="cliente.nombre" name="nombre" required>

    <label for="apellidoUno">Primer Apellido:</label>
    <input type="text" id="apellidoUno" [(ngModel)]="cliente.apellidoUno" name="apellidoUno" required>

    <label for="apellidoDos">Segundo Apellido:</label>
    <input type="text" id="apellidoDos" [(ngModel)]="cliente.apellidoDos" name="apellidoDos">

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" [(ngModel)]="cliente.direccion" name="direccion" required>

    <label for="codigoPostal">Código Postal:</label>
<input type="text" id="codigoPostal" [(ngModel)]="cliente.codigoPostal" name="codigoPostal" (input)="actualizarPoblaciones(); actualizarProvincia()" required maxlength="5" pattern="[0-9]{5}">



    <label for="provincia">Provincia:</label>
    <input type="text" id="provincia" [(ngModel)]="cliente.provincia" name="provincia" readonly>


    <label for="poblacion">Población:</label>
    <select id="poblacion" [(ngModel)]="cliente.poblacion" name="poblacion">
    <option value="" disabled selected>Seleccione una población</option>
    <option *ngFor="let poblacion of poblacionesDisponibles" [value]="poblacion.poblacion">{{ poblacion.poblacion }}</option>
    </select>


    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="cliente.email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
    <span *ngIf="!cliente.email" class="error">El email es obligatorio.</span>
    <span *ngIf="cliente.email && cliente.email.indexOf('&#64;') === -1" class="error">El email debe incluir una '&#64;'.</span>
    <span *ngIf="cliente.email && cliente.email.indexOf('.') === -1" class="error">El email debe incluir un dominio.</span>

    <label for="telefonoFijo">Teléfono fijo:</label>
    <input type="text" id="telefonoFijo" [(ngModel)]="cliente.telefonoFijo" name="telefonoFijo" pattern="[0-9]{1,6}" maxlength="6">
    <span *ngIf="cliente.telefonoFijo && cliente.telefonoFijo.length > 6" class="error">
    El teléfono fijo debe tener como máximo 6 caracteres numéricos.
    </span>
    <span *ngIf="cliente.telefonoFijo && !cliente.telefonoFijo.match('[0-9]{1,6}') " class="error">
    Solo se permiten números en el teléfono fijo.
    </span>



    <label for="telefonoMovil">Teléfono móvil:</label>
    <input type="text" id="telefonoMovil" [(ngModel)]="cliente.telefonoMovil" name="telefonoMovil" pattern="[0-9]{1,6}" maxlength="6">
    <span *ngIf="!cliente.telefonoFijo && !cliente.telefonoMovil" class="error">
    Debes ingresar un teléfono móvil si el fijo está vacío.
    </span>
    <span *ngIf="cliente.telefonoMovil && cliente.telefonoMovil.length > 6" class="error">
    El teléfono móvil debe tener como máximo 6 caracteres numéricos.
    </span>
    <span *ngIf="cliente.telefonoMovil && cliente.telefonoMovil.match('[^0-9]')" class="error">
    Solo se permiten números en el teléfono móvil.
    </span>

    <label for="nif">NIF:</label>
    <input type="text" id="nif" [(ngModel)]="cliente.nif" name="nif" required>

    <div class="buttons">
        <button type="button" (click)="volver()">Volver</button>
        <button type="button" (click)="borrar()" [disabled]="!clienteExistente">Borrar</button>
        <button type="button" (click)="guardar()" [disabled]="!clienteForm.form.valid">Guardar</button>
    </div>
</form>

<p *ngIf="poblacionesDisponibles.length === 0">No hay poblaciones disponibles.</p>
