<h2>Listado de Clientes</h2>

<!-- Comienzo del listado de clientes -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes" (dblclick)="editarCliente(cliente.idCliente)" >
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.apellidoUno }}</td>
      <td>{{ cliente.apellidoDos || '-' }}</td>
    </tr>
  </tbody>
</table>
<!-- Fin del listado de clientes -->

<p>*Haz doble click sobre un cliente para más información</p>

<!-- Botones con interactividad sobre el formulario -->
<div class="buttons">
  <button (click)="crearCliente()">Crear Cliente</button>
  <button (click)="volver()">Volver</button>
</div>

